In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
path=r"C:\Users\iavta\Natural Language Processing\Economics\FED\\"

# Preparing Speeches Dataframe

In [3]:
df_Fed=pd.read_csv(path+"Data - Raw\\"+"fed_speeches_1996_2020.csv")

In [4]:
df_Fed.head()

,link,title,speaker,event,year,text,date,text_len,location
0,https://www.federalreserve.gov/boarddocs/speec...,Supervision of bank risk-taking,Vice Chair Alice M. Rivlin,At the The Brookings Institution National Issu...,1996.0,I discovered when I joined the Board of Govern...,19961219.0,3671,D.C.
1,https://www.federalreserve.gov/boarddocs/speec...,Social security,Chairman Alan Greenspan,At the Abraham Lincoln Award Ceremony of the U...,1996.0,I am privileged to accept the Union League of...,19961206.0,2596,Pennsylvania
2,https://www.federalreserve.gov/boarddocs/speec...,The challenge of central banking in a democrat...,Chairman Alan Greenspan,At the Annual Dinner and Francis Boyer Lecture...,1996.0,The Challenge of Central Banking in a Democrat...,19961205.0,4344,D.C.
3,https://www.federalreserve.gov/boarddocs/speec...,Clearinghouses and risk management,"Governor Edward W. Kelley, Jr.","At the 1996 Payments System Risk Conference, W...",1996.0,It is a pleasure to be with you this morning ...,19961203.0,2527,D.C.
4,https://www.federalreserve.gov/boarddocs/speec...,Supervisory and regulatory responses to financ...,Governor Susan M. Phillips,At the BAI Seminar on Regulatory Policy Change...,1996.0,Supervisory and Regulatory Responses to Financ...,19961125.0,2222,D.C.

In [5]:
df_Fed.shape

(1456, 9)

In [6]:
df_Fed["date"]= pd.to_datetime(df_Fed['date'], format='%Y%m%d')

In [7]:
df_Fed_byDate=df_Fed.groupby("date",as_index=False,sort=True).agg(" ".join)

In [8]:
df_Fed_byDate.shape

(1236, 6)

In [9]:
df_Fed_byDate.head()

,date,link,title,event,text,location
0,1996-06-13,https://www.federalreserve.gov/boarddocs/speec...,Bank supervision in a world economy,At the International Conference of Banking Sup...,Remarks by Chairman Alan Greenspan Bank superv...,Sweden
1,1996-06-18,https://www.federalreserve.gov/boarddocs/speec...,Developments in electronic money and banking,"At the CyberPayments '96 Conference, Dallas, T...","Remarks by Governor Edward W. Kelley, Jr. Deve...",Texas
2,1996-09-08,https://www.federalreserve.gov/boarddocs/speec...,Monetary policy objectives and strategy,At the National Association of Business Econom...,Monetary Policy Objectives and Strategy I wan...,Massachusetts
3,1996-09-19,https://www.federalreserve.gov/boarddocs/speec...,Regulation and electronic payment systems,At the U.S. Treasury Conference on Electronic ...,Remarks by Chairman Alan Greenspan Regulation ...,D.C.
4,1996-10-02,https://www.federalreserve.gov/boarddocs/speec...,Small business is big business,"At the Small Business Development Conference, ...",Remarks by Governor Lawrence B. Lindsey At the...,Virginia

In [10]:
df_Fed_byDate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1236 entries, 0 to 1235
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1236 non-null   datetime64[ns]
 1   link      1236 non-null   object
 2   title     1236 non-null   object
 3   event     1236 non-null   object
 4   text      1236 non-null   object
 5   location  1236 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 67.6+ KB

In [11]:
df_Fed_byDate.to_csv(path+"Data - Clean\\"+"Fed_byDate.csv", index = False)

In [12]:
df_Fed_byDate[df_Fed_byDate["date"].apply(lambda x: x.year)>=2003].shape

(909, 6)

# Fed - 5-Year, 5-Year Forward Inflation Expectation Rate

In [66]:
df_InflExp=pd.read_csv(path+"Data - Raw\\"+"T5YIFR.csv")
df_InflExp.head()

         DATE T5YIFR
0  2003-01-02   1.98
1  2003-01-03   1.96
2  2003-01-06   1.95
3  2003-01-07   1.96
4  2003-01-08   2.09

In [67]:
df_InflExp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4912 entries, 0 to 4911
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    4912 non-null   object
 1   T5YIFR  4912 non-null   object
dtypes: object(2)
memory usage: 76.9+ KB

In [68]:
df_InflExp[(df_InflExp["T5YIFR"]==".")] # Federal Holidays

            DATE T5YIFR
12    2003-01-20      .
32    2003-02-17      .
76    2003-04-18      .
102   2003-05-26      .
131   2003-07-04      .
...          ...    ...
4727  2021-02-15      .
4802  2021-05-31      .
4827  2021-07-05      .
4872  2021-09-06      .
4897  2021-10-11      .

[199 rows x 2 columns]

In [69]:
df_InflExp[(df_InflExp["T5YIFR"].isnull())] # no NaN

Empty DataFrame
Columns: [DATE, T5YIFR]
Index: []

In [70]:
df_InflExp=df_InflExp[(df_InflExp["T5YIFR"]!=".")]

In [71]:
df_InflExp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4713 entries, 0 to 4911
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    4713 non-null   object
 1   T5YIFR  4713 non-null   object
dtypes: object(2)
memory usage: 110.5+ KB

In [72]:
df_InflExp["T5YIFR"]=df_InflExp["T5YIFR"].astype(float)

In [73]:
df_InflExp['DATE']=pd.to_datetime(df_InflExp['DATE'], format='%Y-%m-%d')

In [74]:
df_InflExp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4713 entries, 0 to 4911
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    4713 non-null   datetime64[ns]
 1   T5YIFR  4713 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 110.5 KB

In [75]:
df_InflExp["Changes of T5YIFR"]=df_InflExp["T5YIFR"].diff(periods=1)

In [76]:
df_InflExp.head()

        DATE  T5YIFR  Changes of T5YIFR
0 2003-01-02    1.98                NaN
1 2003-01-03    1.96              -0.02
2 2003-01-06    1.95              -0.01
3 2003-01-07    1.96               0.01
4 2003-01-08    2.09               0.13

In [77]:
def dist_to_2(x):
    return ((x-2)**2)**0.5
def multiclass(sq_dist_dif):
    if sq_dist_dif==0:
        return 0 # no change
    if sq_dist_dif>0:
        return 2 # increased the distance relative to objective of 2
    if sq_dist_dif<0:
        return 1 # decreased the distance relative to objective of 2

In [78]:
df_InflExp["Distance to 2"]=df_InflExp["T5YIFR"].apply(dist_to_2)
df_InflExp["Changes in Distance"]=df_InflExp["Distance to 2"].diff(periods=1)
df_InflExp["Classes"]=df_InflExp["Changes in Distance"].apply(multiclass)
df_InflExp["T5YIFR Lagged"]=np.append(np.array([np.nan]),df_InflExp["T5YIFR"][:-1])

In [79]:
df_InflExp[df_InflExp["Changes in Distance"].isnull()]

,DATE,T5YIFR,Changes of T5YIFR,Distance to 2,Changes in Distance,Classes,T5YIFR Lagged
0,2003-01-02,1.98,NaN,0.02,NaN,NaN,NaN

In [80]:
df_InflExp.drop(index=[0],axis=0,inplace=True)

In [82]:
df_InflExp["Classes"].value_counts(normalize=True) # not vary balanced regarding class 0

1.0    0.435908
2.0    0.435059
0.0    0.129032
Name: Classes, dtype: float64

In [84]:
df_InflExp.to_csv(path+"Data - Clean\\"+"InflExp.csv", index = False)

# Consolidating Speeches and Inflation Expectations

In [85]:
df_InflExp=pd.read_csv(path+"Data - Clean\\"+"InflExp.csv")
df_InflExp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4712 entries, 0 to 4711
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE                 4712 non-null   object
 1   T5YIFR               4712 non-null   float64
 2   Changes of T5YIFR    4712 non-null   float64
 3   Distance to 2        4712 non-null   float64
 4   Changes in Distance  4712 non-null   float64
 5   Classes              4712 non-null   float64
 6   T5YIFR Lagged        4712 non-null   float64
dtypes: float64(6), object(1)
memory usage: 257.8+ KB

In [86]:
df_Fed_byDate=pd.read_csv(path+"Data - Clean\\"+"Fed_byDate.csv")
df_Fed_byDate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1236 non-null   object
 1   link      1236 non-null   object
 2   title     1236 non-null   object
 3   event     1236 non-null   object
 4   text      1236 non-null   object
 5   location  1236 non-null   object
dtypes: object(6)
memory usage: 58.1+ KB

In [87]:
df_Fed_byDate.head()

,date,link,title,event,text,location
0,1996-06-13,https://www.federalreserve.gov/boarddocs/speec...,Bank supervision in a world economy,At the International Conference of Banking Sup...,Remarks by Chairman Alan Greenspan Bank superv...,Sweden
1,1996-06-18,https://www.federalreserve.gov/boarddocs/speec...,Developments in electronic money and banking,"At the CyberPayments '96 Conference, Dallas, T...","Remarks by Governor Edward W. Kelley, Jr. Deve...",Texas
2,1996-09-08,https://www.federalreserve.gov/boarddocs/speec...,Monetary policy objectives and strategy,At the National Association of Business Econom...,Monetary Policy Objectives and Strategy I wan...,Massachusetts
3,1996-09-19,https://www.federalreserve.gov/boarddocs/speec...,Regulation and electronic payment systems,At the U.S. Treasury Conference on Electronic ...,Remarks by Chairman Alan Greenspan Regulation ...,D.C.
4,1996-10-02,https://www.federalreserve.gov/boarddocs/speec...,Small business is big business,"At the Small Business Development Conference, ...",Remarks by Governor Lawrence B. Lindsey At the...,Virginia

In [88]:
df_Fed_merged=pd.merge(left=df_Fed_byDate,
                       right=df_InflExp,
                       how="inner",
                       left_on=["date"],
                       right_on=["DATE"])

In [89]:
df_Fed_merged.shape # I seem to lose some 60 texts here. 
# Probably done during the holidays, or when there's no data for T5YIFR

(855, 13)

In [90]:
# df_Fed_merged[df_Fed_merged["Classes"].isnull()] #-> returns empty df

In [91]:
df_Fed_merged.to_csv(path+"Data - Clean\\"+"Fed_merged.csv", index = False)